html{
    font-size: 30px;
    font-family: 'Caveat', cursive;
    background-color: seagreen;
}
h1{
    font-size: 40px;
    font-family: 'Lobster', cursive;
    text-align: center;
    color: darkgreen;
}
p{
    text-align: justify;
    padding: 0 10px 0 10px;
    
}
img{
    width: 400px;
    height: 300px;
    float: left;
    margin: 2px 30px 2px 0;
    border: 2px solid green;
}
body{
    margin: 0 200px 0 200px;
    border: 5px solid black;
    padding: 0 10px 0 10px;
    background-color: darkseagreen;
}
a{
    color:green
}
h2, h3{
    color: darkgreen;
}